.chart {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;

  @media (max-width: 900px) {
    padding-top: 10%;
    height: 80%;
  }

  &_canvas-container {
    width: 50%;
    

    @media (max-width: 1300px) {
      width: 70%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }
}
